.sidebar {
    height: 100vh;
    background-color: #343a40;
    padding-top: 20px;
}

.sidebar a {
    color: #fff;
    padding: 12px 20px;
    display: block;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #495057;
}
@charset "UTF-8";
.admin-content {
    margin-left: 220px;
    padding: 30px;
}
